<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto"></div>
        <li class="nav-item">
            <a class="nav-link" href="https://vatpac.org">VATPAC Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://atc.vatpac.org">ATC Assist</a>
        </li>
      </div>
    </div>
</nav>
<div class="navbar pac-nav">
  <a class="mx-auto" routerLink="/">
    <img style="max-height: 100px;" src="../../assets/img/vatpac-logo.png">
    <h2 class="text-center pac-nav-heading">Pilot Assist</h2>
  </a>
</div>
